In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.pipeline import make_pipeline
import numpy as np

In [2]:
df = pd.read_table('data-final.csv', na_values=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015341 entries, 0 to 1015340
Columns: 110 entries, EXT1 to long_appx_lots_of_err
dtypes: float64(104), int64(2), object(4)
memory usage: 852.1+ MB

In [3]:
df.columns

Index(['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9',
       'EXT10',
       ...
       'dateload', 'screenw', 'screenh', 'introelapse', 'testelapse',
       'endelapse', 'IPC', 'country', 'lat_appx_lots_of_err',
       'long_appx_lots_of_err'],
      dtype='object', length=110)

In [4]:
def wrangle(data_frame):
    new_df = data_frame.copy()
    include = ['0','1','2','3','4','5','6','7','8','9']
    for i in new_df.columns:
        if not(i[-1] in include):
            new_df.drop(columns=i, inplace=True)
            
    new_df.dropna(inplace=True)
            
    return new_df

In [5]:
df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0

In [6]:
slim_df = wrangle(df)
slim_df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,1.0,5.0,1.0,5.0,1.0,5.0,3.0,5.0,5.0

In [7]:
slim_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 874434 entries, 0 to 1015340
Data columns (total 50 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   EXT1    874434 non-null  float64
 1   EXT2    874434 non-null  float64
 2   EXT3    874434 non-null  float64
 3   EXT4    874434 non-null  float64
 4   EXT5    874434 non-null  float64
 5   EXT6    874434 non-null  float64
 6   EXT7    874434 non-null  float64
 7   EXT8    874434 non-null  float64
 8   EXT9    874434 non-null  float64
 9   EXT10   874434 non-null  float64
 10  EST1    874434 non-null  float64
 11  EST2    874434 non-null  float64
 12  EST3    874434 non-null  float64
 13  EST4    874434 non-null  float64
 14  EST5    874434 non-null  float64
 15  EST6    874434 non-null  float64
 16  EST7    874434 non-null  float64
 17  EST8    874434 non-null  float64
 18  EST9    874434 non-null  float64
 19  EST10   874434 non-null  float64
 20  AGR1    874434 non-null  float64
 21  AGR2    874434 non-null  float64
 22  AGR3    874434 non-null  float64
 23  AGR4    874434 non-null  float64
 24  AGR5    874434 non-null  float64
 25  AGR6    874434 non-null  float64
 26  AGR7    874434 non-null  float64
 27  AGR8    874434 non-null  float64
 28  AGR9    874434 non-null  float64
 29  AGR10   874434 non-null  float64
 30  CSN1    874434 non-null  float64
 31  CSN2    874434 non-null  float64
 32  CSN3    874434 non-null  float64
 33  CSN4    874434 non-null  float64
 34  CSN5    874434 non-null  float64
 35  CSN6    874434 non-null  float64
 36  CSN7    874434 non-null  float64
 37  CSN8    874434 non-null  float64
 38  CSN9    874434 non-null  float64
 39  CSN10   874434 non-null  float64
 40  OPN1    874434 non-null  float64
 41  OPN2    874434 non-null  float64
 42  OPN3    874434 non-null  float64
 43  OPN4    874434 non-null  float64
 44  OPN5    874434 non-null  float64
 45  OPN6    874434 non-null  float64
 46  OPN7    874434 non-null  float64
 47  OPN8    874434 non-null  float64
 48  OPN9    874434 non-null  float64
 49  OPN10   874434 non-null  float64
dtypes: float64(50)
memory usage: 340.2 MB

In [8]:
def make_target(data_frame, target_col):
    new_df = data_frame.copy()
    new_df['target'] = [0 for num in range(0, len(slim_df))]
    for i in new_df.columns:
        if target_col in i:
            new_df['target'] = new_df['target'] + new_df[i]
            new_df.drop(columns=i, inplace=True)
            
    X = new_df.drop(columns='target')
    y = []
    true_y = new_df['target'] / 10
    for i in true_y:
        if i < 2.85:
            y.append(0)
            
        elif (i >= 2.85) & (i <= 3.15):
            y.append(1)
            
        else:
            y.append(2)
            
    y = pd.Series(y)
    
    return X, y, true_y

In [9]:
X, y, actual_y = make_target(slim_df, 'EXT')

In [10]:
X.head()

,EST1,EST2,EST3,EST4,EST5,EST6,EST7,EST8,EST9,EST10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,...,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0
1,2.0,3.0,4.0,1.0,3.0,1.0,2.0,1.0,3.0,1.0,...,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0
2,4.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0,...,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0
3,3.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,4.0,3.0,...,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0
4,1.0,5.0,5.0,3.0,1.0,1.0,1.0,1.0,3.0,2.0,...,5.0,1.0,5.0,1.0,5.0,1.0,5.0,3.0,5.0,5.0

In [11]:
print(actual_y.min())
print(actual_y.max())
print(y.min())
print(y.max())

1.0
5.0
0
2

In [12]:
baseline = y.value_counts(normalize=True).max()
print('Baseline MAE:', baseline)

Baseline MAE: 0.38348691839521337

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=11)

print(len(X_train) + len(X_test) == len(X))
print(len(y_train) + len(y_test) == len(y))

X_train, X_test, actual_y_train, actual_y_test = train_test_split(X, actual_y, test_size=0.2, random_state=11)

print(len(X_train) + len(X_test) == len(X))
print(len(y_train) + len(y_test) == len(y))

True
True
True
True

In [14]:
model = RandomForestClassifier(n_jobs=8,
                               random_state=11,
                               verbose=1)

#model = RidgeCV(alphas=[0.01, 0.1, 1, 10,100,200, 300, 400, 500], cv=5)

In [16]:
model.fit(X_train, y_train)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:   25.7s
[Parallel(n_jobs=8)]: Done 100 out of 100 | elapsed:  1.2min finished

RandomForestClassifier(n_jobs=8, random_state=11, verbose=1)

In [17]:
model.score(X_train, y_train)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    5.0s
[Parallel(n_jobs=8)]: Done 100 out of 100 | elapsed:   13.2s finished

0.9998270309214392

In [18]:
model.score(X_test, y_test)

[Parallel(n_jobs=8)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  34 tasks      | elapsed:    1.1s
[Parallel(n_jobs=8)]: Done 100 out of 100 | elapsed:    3.0s finished

0.4458364543962673

### Alrighty, I turned it into a classification problem to reduce the amount of computing power needed, and with that esabished a baseline of 38%. My model gave my testing set a score of 45%, which is slightly better, so I'd say my quick and dirty model works. Barely.