Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.feature_selection import SelectKBest
from sklearn.linear_model import RidgeCV
from sklearn.tree import DecisionTreeRegressor
import numpy as np

In [2]:
df = pd.read_table('data-final.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015341 entries, 0 to 1015340
Columns: 110 entries, EXT1 to long_appx_lots_of_err
dtypes: float64(104), int64(2), object(4)
memory usage: 852.1+ MB

In [3]:
df.columns

Index(['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9',
       'EXT10',
       ...
       'dateload', 'screenw', 'screenh', 'introelapse', 'testelapse',
       'endelapse', 'IPC', 'country', 'lat_appx_lots_of_err',
       'long_appx_lots_of_err'],
      dtype='object', length=110)

In [4]:
def wrangle(data_frame):
    new_df = data_frame.copy()
    include = ['0','1','2','3','4','5','6','7','8','9']
    for i in new_df.columns:
        if not(i[-1] in include):
            new_df.drop(columns=i, inplace=True)
            
    new_df.dropna(inplace=True)
            
    return new_df

In [5]:
df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0

In [6]:
slim_df = wrangle(df)
slim_df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,1.0,5.0,1.0,5.0,1.0,5.0,3.0,5.0,5.0

In [7]:
slim_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1013558 entries, 0 to 1015340
Data columns (total 50 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   EXT1    1013558 non-null  float64
 1   EXT2    1013558 non-null  float64
 2   EXT3    1013558 non-null  float64
 3   EXT4    1013558 non-null  float64
 4   EXT5    1013558 non-null  float64
 5   EXT6    1013558 non-null  float64
 6   EXT7    1013558 non-null  float64
 7   EXT8    1013558 non-null  float64
 8   EXT9    1013558 non-null  float64
 9   EXT10   1013558 non-null  float64
 10  EST1    1013558 non-null  float64
 11  EST2    1013558 non-null  float64
 12  EST3    1013558 non-null  float64
 13  EST4    1013558 non-null  float64
 14  EST5    1013558 non-null  float64
 15  EST6    1013558 non-null  float64
 16  EST7    1013558 non-null  float64
 17  EST8    1013558 non-null  float64
 18  EST9    1013558 non-null  float64
 19  EST10   1013558 non-null  float64
 20  AGR1    1013558 non-null  float64
 21  AGR2    1013558 non-null  float64
 22  AGR3    1013558 non-null  float64
 23  AGR4    1013558 non-null  float64
 24  AGR5    1013558 non-null  float64
 25  AGR6    1013558 non-null  float64
 26  AGR7    1013558 non-null  float64
 27  AGR8    1013558 non-null  float64
 28  AGR9    1013558 non-null  float64
 29  AGR10   1013558 non-null  float64
 30  CSN1    1013558 non-null  float64
 31  CSN2    1013558 non-null  float64
 32  CSN3    1013558 non-null  float64
 33  CSN4    1013558 non-null  float64
 34  CSN5    1013558 non-null  float64
 35  CSN6    1013558 non-null  float64
 36  CSN7    1013558 non-null  float64
 37  CSN8    1013558 non-null  float64
 38  CSN9    1013558 non-null  float64
 39  CSN10   1013558 non-null  float64
 40  OPN1    1013558 non-null  float64
 41  OPN2    1013558 non-null  float64
 42  OPN3    1013558 non-null  float64
 43  OPN4    1013558 non-null  float64
 44  OPN5    1013558 non-null  float64
 45  OPN6    1013558 non-null  float64
 46  OPN7    1013558 non-null  float64
 47  OPN8    1013558 non-null  float64
 48  OPN9    1013558 non-null  float64
 49  OPN10   1013558 non-null  float64
dtypes: float64(50)
memory usage: 394.4 MB

In [8]:
def make_target(data_frame, target_col):
    new_df = data_frame.copy()
    new_df['target'] = [0 for num in range(0, len(slim_df))]
    for i in new_df.columns:
        if target_col in i:
            new_df['target'] = new_df['target'] + new_df[i]
            new_df.drop(columns=i, inplace=True)
            
    X = new_df.drop(columns='target')
    y = new_df['target'] / 10
    
    return X, y

In [9]:
X, y = make_target(slim_df, 'EXT')

In [10]:
X.head()

,EST1,EST2,EST3,EST4,EST5,EST6,EST7,EST8,EST9,EST10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,...,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0
1,2.0,3.0,4.0,1.0,3.0,1.0,2.0,1.0,3.0,1.0,...,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0
2,4.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,1.0,3.0,...,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0
3,3.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,4.0,3.0,...,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0
4,1.0,5.0,5.0,3.0,1.0,1.0,1.0,1.0,3.0,2.0,...,5.0,1.0,5.0,1.0,5.0,1.0,5.0,3.0,5.0,5.0

In [11]:
y.max() <= 5

True

In [12]:
baseline = mean_absolute_error(y, [y.mean()]*len(y))
print('Baseline MAE:', baseline)

Baseline MAE: 0.27265612815215845

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=11)

print(len(X_train) + len(X_test) == len(X))
print(len(y_train) + len(y_test) == len(y))

True
True

In [14]:
model = DecisionTreeRegressor(max_depth=40,
                              criterion='mae',
                              random_state=11)

#model = RidgeCV(alphas=[0.01, 0.1, 1, 10,100,200, 300, 400, 500], cv=5)

In [19]:
X_temp, X_mini, y_temp, y_mini = train_test_split(X_train, y_train, test_size=0.03, random_state=11)
print(len(X_mini))

24326

In [20]:
model.fit(X_mini, y_mini)

DecisionTreeRegressor(criterion='mae', max_depth=40, random_state=11)

In [21]:
model.score(X_mini, y_mini)

0.6909193342989283

In [ ]:
model.score(X_test, y_test)

### OK so my code looks like an absolulte mess because I got excited yesterday and tried to build a model, not realizing the assignment was for EDA. So I've done that, but with some extra testing garbage at the end.